body{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: 100vw 100vh;
	font-family: monospace;

}
.fondo-page1 {
	background-image: url(../img/fondo-page1.jpg);
}
.fondo-page2 {
	background-image: url(../img/fondo-page2.jpg);
}
.fondo-page3 {
	background-image: url(../img/fondo-page3.jpg);
}
div{
	width: 450px;
	height: 450px;
	margin: auto;
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 50px;
	margin-bottom: 50px;
}
.btn-start{
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	margin-top:250px;
}
.btn-user{
	margin-right: 250px;
	margin-top: 50px;
	margin-bottom: 50px;
	height: 500px;
}
.btn-user1{
	width: 49%;
	box-sizing: border-box;
	padding: 0px;
	margin-top:150px;
	margin-bottom: 100px;
	border: 5px solid black;
}
.btn-user2{
	width: 49%;
	box-sizing: border-box;
	padding: 0px;
	margin-top:150px;
	margin-bottom: 100px;
	border: 5px solid black;
}
.btn-back{
	box-sizing: border-box;
	padding: 0px;
	margin-bottom: 20px;
	margin-left: 300px;
	margin-right: 30px;
}
form{
	width: 450px;
	margin: auto;
	background: rgba(0,0,0,0.4);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 20px;
}
label{
	color:#fff;
	text-align: center;
	margin:0;
	font-size: 20px;
	margin-bottom: 20px;
}

input, textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border: none;
	text-transform: uppercase;
}
textarea{
	min-height: 100px;
	max-height: 150px;
	max-width: 100%;
}
button{
	width: 49%;
	background: #31384a;
	color: #fff;
	padding: 15px;
	margin-bottom: 20px;
}
img{
	padding-left:100px;
}
#idClean:hover{
	cursor: pointer;
}
#idCode:hover{
	cursor: pointer;
}
#idDecipher:hover{
	cursor: pointer;
}
@media (max-width:480px){
	form{
		width: 100%;
	}
	.container{
		width: 100%;
	}
}
