body{
	margin:0px;
}
.fondo-page1 {
	background-color: #118AB2;
}
.fondo-page2 {
	background-image: url(../img/fondo-page2.jpg);
}
.fondo-page3 {
	background-color: #06D6A0;
}
.div-main{
	width: 450px;
	height: 450px;
	padding: 10px 20px;
	box-sizing: border-box;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 50px;
	text-align: center;
	color:#073B4C;
	font-family: 'Roboto', sans-serif;
}
.title-main{
	text-align: center;
	font-size: 60px;
	margin: 10px;
	font-weight: bold;
}
.text-main{
	font-size:20px;
}
.btn-start{
	width: 300px;
	box-sizing: border-box;
}
.main-user{
	display: flex;
   	justify-content: center;
  	align-items: center;
    width: auto;
	margin: auto;
    padding: 20px, 20px;
	text-align: justify;
	height: 80vh;
}
.btn-user{
	margin: 10px;
	width: 230px;
	height: 180px;
	box-sizing: border-box;
	padding: 0px;
	border: 5px solid black;
}
.form-cipher{
	width: 450px;
	margin: auto;
	background: rgba(0,0,0,0.4);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 20px;
}
label{
	color:#fff;
	text-align: center;
	margin:0;
	font-size: 20px;
	margin-bottom: 20px;
}

input, textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border: none;
}
textarea{
	min-height: 100px;
	max-height: 150px;
	max-width: 100%;
}
.btn-form{
	width: 49%;
	background: #073B4C;
	color: #fff;
	padding: 15px;
	margin-bottom: 20px;
	border: 0px;
	border-radius: 10px;
}
.img-form{
	padding-left:100px;
}
#idClean:hover{
	cursor: pointer;
}
#idCode:hover{
	cursor: pointer;
}
#idDecipher:hover{
	cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1024px) {
	.title-main{
		font-size: 40px;
	}
	.img-main{
		width: 70%;
	}
	div{
		width: 100%;
		height: 100%;
	}
	.div-main{
		margin-bottom: 0px;
	}
	.btn-start{
		width: 50%;
	}

}
@media (min-width: 320px) and (max-width: 480px) {
	.title-main{
		font-size: 40px;
		margin-top: 50px;
	}
	.img-main{
		margin-top: 20px;
		width: 70%;
	}
	.div-main{
		width: 100%;
		margin: 0px;
	}
	.btn-start{
		margin-top: 20px;
		width: 70%;
	}
	.main-user{
		display: inline-block;
		width: auto;
	}
	.btn-user{
		width: 50%;
		height: 30%;
		margin-left: 80px;
		margin-top: 50px;
	}
}